body {
  background-image: url("bg.png");
}

#pre-header {
  text-align: right;
  background-color: #000;
  color: #fff;
}

#header-navigation {
  display: table;
  font-size: 18px;
  height: 100%;
  text-align: right;
  width: 100%;
}

.menu-nav {
  display: table-row;
  list-style: none;
}

.menu-nav li {
  display: table-cell;
  vertical-align: middle;
}

.img-container {
  text-align: center;
}

.img-container img {
  width: 100%;
}

.btn-wrapper {
  text-align: center;
}

.container-row h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #dcb36c;
}

#footer {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding-top: 15px;
  margin-top: 30px;
}

#footer a {
  color: #dcb36c;
}

.footer-central {
  font-size: 11px;
  text-align: center;
}

/* ----------- Tablas ----------- */

th {
  border: 1px solid black;
  text-align: center;
}

table tr td {
  border: 1px solid black;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 60%;
}

.center {
  text-align: center;
  line-height: 90%;
}

.text {
  font-size: 24px;
  padding-bottom: 10px;
}

/* ---------- Contacto --------*/
